.base-class {
  padding: 10px;
  border-radius: 8px;
  margin: 4px;
  height: 100px;
  width: 70px;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: coral;
  padding: 10px;
  height: 400px;

  align-items: center;
}

.child1 {
  background-color: green;
  color: white;
}

.child2 {
  background-color: lightseagreen;
  color: white;
}
